@import url('../../node_modules/react-quill/dist/quill.snow.css');

.textBox {
  margin-bottom: -100px;
}
.send__btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send__btn:hover {
  background-color: #45a049;
}

.send__btn:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}


.chatspage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  margin-bottom: 0px;
}
.chatpage__top {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
.chat__left,
.chat__right {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.chat__left span {
  font-weight: bold;
}

.green {
  font-size: 12px !important;
  color: green;
}

.chats__div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}

.left__hr,
.timetext,
.right__hr {
  border: 1px solid #dfdfdf;
}
.timestamp {
  display: flex;
  align-items: center;
}
.left__hr,
.right__hr {
  display: flex;
  height: 0;
  width: 70%;
}

.timetext {
  font-weight: 600;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.chat {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.sender {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.sender > span {
  font-size: 12px;
  color: #6f6f6f;
}

.react-quill-container .q1-editor {
  line-height: 20px;
}


