.chatpage__top {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
.chat__left,
.chat__right {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.chat__left span {
  font-weight: bold;
}

.green {
  font-size: 12px !important;
  color: green;
}

.chats__div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}

.left__hr,
.timetext,
.right__hr {
  border: 1px solid #dfdfdf;
}
.timestamp {
  display: flex;
  align-items: center;
}
.left__hr,
.right__hr {
  display: flex;
  height: 0;
  width: 70%;
}

.timetext {
  font-weight: bold;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.chat {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.sender {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.sender > span {
  font-size: 12px;
  color: #6f6f6f;
}

.message-textarea__input {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
}

.message-textarea__send-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #0054a9;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.message-textarea__send-button:hover {
  background-color: #350d36;
}
.message-textarea {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.slack-message-textarea__editor {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.slack-message-textarea__editor-button {
  padding: 8px 16px;
  margin-right: 20px;
  background-color: #015af5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.slack-message-textarea__input {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
}

.message-textarea__send-button {
  padding: 8px 16px;
  background-color: #3f0e40;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.slack-message-textarea__send-button:hover {
  background-color: #350d36;
}
