.header__main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0054a9;
}

.header__main div {
  background-color: #3c71a6;
  border-radius: 5px;
  border: 1px solid #ffffff33;
}

.header__main input {
  margin: 0;
  background-color: #3c71a6;
  font-size: 16px;
  width: 40vw;
  color: white;
}

.header__main input::placeholder {
  color: white;
}

.header__main .MuiSvgIcon-root {
  font-size: 20px;
  color: white;
}

.search {
  display: Flex;
  align-items: center;
  padding: 2px;
  margin: 5px;
}

.time__icon {
  margin-left: 20px;
}

.avatar {
  margin-right: 20px;
}
