body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container-1 {
  display: flex;
  height: 100vh;
}

.login-left-box {
  position: relative;
  flex: 1;
  background-color: #05317E;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  border-right: 4px solid #fff; /* Add border to the right side of the left box */
}

.temp {
  position: absolute;
  top: 8px;
  left: 200px;
  color: white;
  font-size: 75px;
  font-weight: bold;
}

.login-logo {
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
  max-width: 50vh;
}

.login-right-box {
  flex: 1.2;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  font-size: 25px;  
  margin-left: -20px;
}

.login-right-box h2 {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  display: none;
}

.login-input[type="email"],
.login-input[type="password"] {
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;

}

.button-login {
  background-color: #518EF8;
  color: #fff;
  border: none;
  padding: 20px 100px;
  cursor: pointer;
  margin-bottom: 100px;
  border-radius: 20px;
  margin-top: 25px;
}

.button-login:hover {
  background-color: #05317E;
}

.login-link {
  color: #05317E;
  text-decoration: none;
  padding-left: 20px;
}

.login-paragraph {
  margin-top: 10px;
}

.login-paragraph a {
  font-weight: bold;
}

.login-password-field {
  position: relative;
}

.login-password-toggle {
  position: absolute;
  top:  30%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.login-password-toggle:hover {
  color: #666;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .container-1 {
    flex-direction: column;
  }

  .login-left-box {
    height: 40vh;
  }

  .login-right-box {
    padding: 20px;
  }
}
