body{

    overflow: hidden;
}

.profilePage{
    background-color:#DD6A42 ;
    padding: 70px; 
}

.button-dark{
    background-color: black !important;

    border-radius: 30px !important;
    width: 130px;
}
.form-ex{
    width: 50% !important;
}


