body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  .left-box {
    flex: 1;
    background-color: #DB844E;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
  }
  
  .app-heading {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    max-width: 50vh;
  }
  
  .right-box {
    flex: 1.5;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-size: 25px;
  }
  
  .right-box h2 {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-bottom: 100px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: none;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
  }
  
  input[type='submit'] {
    background-color: #DB844E;
    color: #fff;
    border: none;
    padding: 15px 100px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 50px;
  }
  
  input[type='submit']:hover {
    background-color: #DB844E;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: -30px;
  }
  
  .login-container .right-box {
    border-radius: 20px;
  }
  
  .password-field {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
  }
  
  .password-toggle:hover {
    color: #666;
  }
  
  p {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  p a {
    color: #DB844E;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  /* Responsive Adjustments */
  @media screen and (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .left-box {
      height: 40vh;
    }
  
    .right-box {
      padding: 20px;
    }
    
    .logo {
      position: static;
      transform: none;
      max-width: 100%;
      margin-top: 20px;
    }
  }
  